body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    color:#F9D200;
    font-family: 'Work Sans', sans-serif;
    padding-left: 20px;
    padding-top: 40px;
    
}

p{
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    font-family: 'Bitter', serif;
    font-size: 20px;
}

h2{
color: white; 
font-family: 'Bitter', serif;
padding-top: 50px;
padding-left: 180px;
}

.contenedor1 {
 background:#121414;
 height: 900px;
 width: 700px;   
 padding-left: 50px;
 padding-right: 70px; 
 }

.logo {
height: 200px;
width: 200px;
padding-top: 50px;
padding-left:20px;
}

.cuerpo {
    height: 300px;
    width: 600px;
    margin-top: 30px;;
    background-color:#2E3B3B;
}

.relleno {
    color: skyblue;
    font-family: 'Bitter', serif;
padding-left: 180px;
padding-top: 50px;
font-size: 30px;
}

